@import "var";
@import "mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: $bg-color;
    padding: 20px 0px;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            img {
                width: 200px;
               filter: invert(1);
            }
        }

        ul {
            display: flex;
            gap: 30px;
            color: #fff;
            list-style: none;

            li {
                font-size: 15px + 5px;
                position: relative;
                &:after{
                    background-color: #fff;
                    width: 0%;
                    height: 3px;
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                }
                &:hover{
                    color: #a57318;
                    cursor: pointer;
                    transition: 0.5s;
                  
                }
            }

        }
    }

}



.banner {
    img{
        width: 100%;
    }
}